<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvfxQy-_zJn2B6XlP-qo-OelnkeWwH5Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>506249773629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.organisationTache</string>
	<key>PROJECT_ID</key>
	<string>organisation-tache</string>
	<key>STORAGE_BUCKET</key>
	<string>organisation-tache.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506249773629:ios:59c1be7e22de70baa4e054</string>
</dict>
</plist>